#map-outer-container {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow:hidden;
}

#map-toolbar {
	width:100%;
	height:45px;		
	background: -moz-linear-gradient(#f5f5f5, #c1c1c1);
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#c1c1c1));
	background: -webkit-linear-gradient(#f5f5f5, #c1c1c1);
	background: -o-linear-gradient(#f5f5f5, #c1c1c1);
	background: -ms-linear-gradient(#f5f5f5, #c1c1c1);
	background: linear-gradient(#f5f5f5, #c1c1c1);
	margin:0;
}


#map-sidebar {
	width:400px;
	height:100%;
	overflow:auto;
	background-color:white;
	float:left;
	border-right:1px solid #c1c1c1;
}

#map-sidebar td {
	font-size:8pt;
	font-weight:bold;
}

#map {
	float:left;
}

#content-box {
	float:left;
}

.button-group {
	float:left;
	margin-left:10px;
}

#map-status-bar {
	margin:0;
	width:100%;
	height:40px;		
	background: -moz-linear-gradient(#f5f5f5, #c1c1c1);
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#c1c1c1));
	background: -webkit-linear-gradient(#f5f5f5, #c1c1c1);
	background: -o-linear-gradient(#f5f5f5, #c1c1c1);
	background: -ms-linear-gradient(#f5f5f5, #c1c1c1);
	background: linear-gradient(#f5f5f5, #c1c1c1);
	color:#444444;
}

.map-sidebar-header {
	color:black;
	font-size:10pt;
	padding-top:2px;
	padding-bottom:2px;
	font-weight:bold;
	height:20px;
	display:block;
	width:100%;
	background: -moz-linear-gradient(#f5f5f5, #c1c1c1);
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#c1c1c1));
	background: -webkit-linear-gradient(#f5f5f5, #c1c1c1);
	background: -o-linear-gradient(#f5f5f5, #c1c1c1);
	background: -ms-linear-gradient(#f5f5f5, #c1c1c1);
	background: linear-gradient(#f5f5f5, #c1c1c1);
}

.status-bar-segment {
	min-width:180px;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:4px;
	display:inline-block;
}

.status-bar-segment-right {
	min-width:180px;
	border-right:1px solid #444444;
	display:inline-block;
	padding-left:8px;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	margin-top:4px;
}

#map-toolbar-tube {
	padding-top:5px;
	padding-bottom:5px;
}

.map-toolbar-search {
	width:300px;
	border:none;
	padding-left:8px;
	margin-right:0px;
}

.map-toolbar-search-middle {
	width:300px;
	border:none;
	padding-left:8px;
	margin-left:0px;
	margin-right:0px;
}

.map-toolbar-search-right {	
	width:300px;
	border:none;
	margin-left:0px;
	margin-right:0px;
}

.search-wrapper {
	width:auto;
	display:inline-block;
	background-color:white;
	border:1px solid #efefef;
	border-radius:3px;
	padding:-30px;
	margin-left:8px;
}

.search-wrapper input,select,button {
	margin:0;
}
#status-bar-right {
	float:right;
	padding-right:10px;
}
html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

#map-inner-container {
	margin:0;
	padding:0;
	overflow:hidden;
}

#map-search-results {
	overflow:auto;	
	margin:0;
	padding:0;
	background-color:white;	
}

.map-sidebar-wrapper {
	padding:10px;
}

