body,html,td {
	margin:0;
	padding:0;
	font-family:Garamond, Georgia, "Times New Roman", Times, serif;
	font-size:14px;
}

h1 {
	font-family:Garamond, Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:46px;
	color:#000;
	padding:0!important;
	padding:16px 0 0 0;
	margin:15px 0 0 0;
}

h2 {
	font-family:Garamond, Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:36px;
	color:#000;
	padding:0!important;
	padding:16px 0 0 0;
	margin:15px 0 0 0;
}

h3 {
	font-family:Garamond, Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:26px;
	color:#000;
	padding:0!important;
	padding:16px 0 0 0;
	margin:15px 0 0 0;
}

h4 {
	font-family:Garamond, Georgia, "Times New Roman", Times, serif;
	font-weight:normal;
	font-size:16px;
	color:#000;
	padding:0!important;
	padding:16px 0 0 0;
	margin:15px 0 0 0;
}

.bodyDiv {
	padding-top:10px;
}

hr {
	line-height:1px;
	border:1px solid #efefef;
}

input,select,textarea {
	border:1px solid #999999;
	background-color:#efefef;
	color:navy;
	padding:2px;
	margin:2px;
	border-radius:2px;
}
input:focus,select:focus,textarea:focus {
	border:1px solid navy;
	background-color:white;
}
