body,html {
	height:100%;
}
body,html,td {
	margin:0;
	padding:0;
	font-family:Garamond, Georgia, "Times New Roman", Times, serif;
	/*font-family:Arial,Helvetica,sans-serif;*/
	font-size:14px;
}

h1 {
	font-weight:normal;
	font-size:46px;
	color:navy;
	padding:0!important;
	padding:16px 0 0 0;
	margin:15px 0 0 0;
	margin-bottom:8px;
}

h2 {
	font-weight:normal;
	font-size:36px;
	color:#000;
	padding:0!important;
	padding:16px 0 0 0;
	margin:15px 0 0 0;
}

h3 {
	font-weight:normal;
	font-size:26px;
	color:#000;
	padding:0!important;
	padding:16px 0 0 0;
	margin:15px 0 0 0;
}

h4 {
	font-weight:normal;
	font-size:16px;
	color:#000;
	padding:0!important;
	padding:16px 0 0 0;
	margin:15px 0 0 0;
}

.bodyDiv {
	padding-top:10px;
}

hr {
	line-height:1px;
	border:1px solid #efefef;
}

input,select,textarea {
	border:1px solid #999999;
	background-color:#efefef;
	color:navy;
	padding:2px;
	margin:2px;
	border-radius:2px;
}
input:focus,select:focus,textarea:focus {
	border:1px solid navy;
	background-color:white;
}

em {
	font-style:italic;
}

/* PRETTY TABLE WITH HOVER EFFECT */

table.pretty {
 margin: 1em 1em 1em 2em;
 background: whitesmoke;
 border-collapse: collapse;
}
table.pretty th, table.pretty td {
 border: 1px gainsboro solid;
 padding: 0.2em;
 
}
table.pretty th {
 background: gainsboro;
 text-align: left;
 color:navy;
}
table.pretty caption {
 margin-left: inherit;
 margin-right: inherit;
}

table.pretty tr:hover {
 background-color:gainsboro;
 color:navy;
}

/* PRETTY TABLE WITH NO HOVER EFFECT */

table.pretty-nohover {
 margin: 1em 1em 1em 2em;
 background: whitesmoke;
 border-collapse: collapse;
}
table.pretty-nohover th, table.pretty td {
 border: 1px gainsboro solid;
 padding: 0.2em;
 
}
table.pretty-nohover th {
 background: gainsboro;
 text-align: left;
 color:navy;
}
table.pretty-nohover caption {
 margin-left: inherit;
 margin-right: inherit;
}

/* PROPERTY DIALOG */

table.property_dialog {
 margin: 0;
 width: 100%;
 background: white;
 border-collapse: collapse;
}

table.property_dialog th, table.property_dialog td {
 border: 1px gainsboro solid;
 padding: 0;
 
}

table.property_dialog input, table.property_dialog select, table.property_dialog textarea{
	padding:0px;
	margin:0px;
	border:none;
	width:100%;
	height:100%;
	font-size:12px;
}

table.property_dialog th {
 background: gainsboro;
 text-align: left;
 color:navy; 
 padding:3px;
}
table.property_dialog caption {
 margin-left: inherit;
 margin-right: inherit;
}

table.property_dialog tr:hover {
 background-color:gainsboro;
 color:navy;
}


/* PAGE LAYOUT DIVS */
#header_bar {
	height:171px;
	width:100%;
	margin:0;
	padding:0;
}

#container {
	padding: 20px;	
}

#navigation {
	float: left;
	width: 400px;
	border: solid 1px gainsboro;
	list-style: none;
	/*height:100%;*/
}

#content {
	margin-left: 442px;
	border: none;
	padding: 0px;
	/*height:100%;*/
}

#header {
	background-color: whitesmoke;
	padding: 10px;
	border: 1px solid gainsboro;
	margin-bottom:20px;
}

div.help_box {
	padding:20px;
}

a {
	color:navy;
	text-decoration:none;
}

a:visited {
	color:navy;
}

a:hover {
	color:blue;
}

.tree td {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:black;
}
.tree td:hover {
	background-color:white;
}
	

